.clearfix
= simple_form_for(@post) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :body, :as => :textile_editor

  .form-actions
    = f.button :submit

- content_for :javascript do
  = textile_editor_initialize
