%h1 Listing posts

- @posts.each do |post|
  %h2= post.title
  %p= to_html(post.body)
  %p
    %ul
      %li.btn= link_to 'Show', post
      %li.btn= link_to 'Edit', edit_post_path(post)
      %li.btn= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }

%br/

= link_to 'New Post', new_post_path
