%h1 Listing posts

- @posts.each do |post|
  %h2= post.title
  %p= to_html(post.body)
  %p
    %span.btn= link_to content_tag('i', '', class: 'icon-file') + 'Show', post
    %span.btn= link_to content_tag('i', '', class: 'icon-pencil') +' Edit', edit_post_path(post)
    %span.btn= link_to content_tag('i', '', class: 'icon-trash') + ' Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }

%br/

= link_to 'New Post', new_post_path
